:root {
  /* DARK THEME */
  --dark-theme: hsl(225, 6%, 13%);
  --dark-theme-odds: hsl(225, 5%, 19%);
  --dark-theme-hover: hsl(225, 6%, 30%);
  --dark-theme-text: hsl(0, 5%, 90%);
  --dark-theme-btn-wrapper-hover: hsla(174, 100%, 25%, 0.5);
  --dark-theme-btn-wrapper-active: hsla(174, 100%, 22%, 0.5);
  --dark-theme-button: hsl(174, 100%, 25%);
  --dark-theme-button-hover: hsl(174, 100%, 22%);
  --dark-theme-button-text: hsl(0, 5%, 90%);
  --dark-theme-scroll-background: hsl(0, 0%, 30%);
  --dark-theme-scroll-color: hsl(0, 0%, 0%);

  /* LIGHT THEME */
  --light-theme: hsl(0, 0%, 100%);
  --light-theme-odds: hsl(208, 100%, 97%);
  --light-theme-hover: hsl(0, 0%, 94%);
  --light-theme-text: hsl(0, 0, 0%);
  --light-theme-btn-wrapper-hover: hsla(210, 100%, 60%, 0.5);
  --light-theme-btn-wrapper-active: hsla(210, 100%, 45%, 0.5);
  --light-theme-button: hsl(210, 100%, 60%);
  --light-theme-button-hover: hsl(210, 100%, 45%);
  --light-theme-button-text: hsl(0, 0%, 100%);
  --light-theme-scroll-background: hsl(0, 0%, 90%);
  --light-theme-scroll-color: hsl(0, 0%, 60%);

  /* GENERIC */
  --ui-left-separation: 3px;
}

body {
  margin: 0;
  color: var(--light-theme-text);
}

#main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1rem;
  box-sizing: border-box;
  width: 500px;
}

#search-wrapper {
  height: 40px;
  width: 100%;
  display: flex;
}

.search-button {
  background-color: transparent;
  border: unset;
  margin: var(--ui-left-separation); 
}

.search-box-wrapper {
  display: flex;
  align-items: center;
  margin-left: 5px;
  /* margin-right: 20px; */
  width: 100%;
}

#use-regexp-btn {
  height: 30px;
  margin: 5px 10px;
  font-size: 0.7em;
  width: 100px;
}

.logo-icon,
.tab-icon {
  height: 20px;
  width: 20px;
}

.search-box {
  height: 20px;
  width: 100%;
  border-radius: 10px;
  color: var(--light-theme-text);
  background: var(--light-theme-scroll-background);
}

.search-box:focus-visible {
  outline: dotted;
}

.txt-box {
  /* width: var(--txt-box-width);
  max-width: var(--txt-box-width); */
  height: 350px;

  /* FIREFOX */
  scrollbar-width: thin;
  scrollbar-color: var(--light-theme-scroll-color) var(--light-theme-scroll-background);
}

.txt-box:focus-visible {
  outline: none;
}

.txt-box ul {
  list-style: none;
  margin: 0;
  padding: 0 var(--list-right-padding) 0 var(--ui-left-separation);
  overflow-y: scroll;
  max-height: 350px;

  /* FIREFOX */
  scrollbar-width: thin;
  scrollbar-color: var(--light-theme-scroll-color) var(--light-theme-scroll-background);
}

.txt-box::-webkit-scrollbar {
  width: 7px;
  height: 12px;
  background-color: var(--light-theme-scroll-background);
}

.txt-box::-webkit-scrollbar-thumb {
  background: var(--light-theme-scroll-color);
}

.txt-box ul::-webkit-scrollbar {
  width: 7px;
  height: 12px;
  background-color: var(--light-theme-scroll-background);
}

.txt-box ul::-webkit-scrollbar-thumb {
  background: var(--light-theme-scroll-color);
}

.row-link {
  display: flex;
  min-height: 45px;
}

.row-link span {
  overflow: hidden;
  padding: 5px 0;
  width: 100%;
  cursor: text;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  display: flex;
  align-items: center;
}

.row-link span:focus-visible {
  outline: dotted;
  outline-color: var(--light-theme-button-hover);
}

.row-link .tab-icon {
  letter-spacing: unset;
  word-spacing: unset;
  text-transform: unset;
  text-indent: unset;
  text-shadow: unset;
  text-align: unset;
  align-items: unset;
  background-color: unset;
  box-sizing: unset;
  margin: unset;
  font: unset;
  padding: unset;
  border-width: unset;
  border-style: unset;
  border-color: unset;
  border-image: initial;
  background: unset;
  appearance: unset;
  -webkit-writing-mode: unset;
  -moz-writing-mode: unset;
  border-image: unset;
  color: unset;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .row-link:nth-child(2n + 1) {
  background: var(--light-theme-odds);
} */

.row-link:nth-child(2n + 1 of :not(.hide)) {
  background: var(--light-theme-odds);
}

.row-link:not(.hide):hover {
  background-color: var(--light-theme-hover);
}

#btn-area {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 10px 0;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  cursor: pointer;
  flex-shrink: 0;
}

/* Delegate all event to button-wrapper */
.button-wrapper > * {
  pointer-events: none;
  cursor: pointer;
}

.button-wrapper:hover,
.button-wrapper:focus-within,
.button-wrapper:focus-visible {
  background: var(--light-theme-btn-wrapper-hover);
}

.button-wrapper:active {
  background: var(--light-theme-btn-wrapper-active);
}

.button-wrapper:hover .tab-icon {
  opacity: 1;
}

.button-wrapper:active .tab-icon {
  opacity: 0.6;
}

.btn {
  min-width: 60px;
  min-height: 30px;
  border-radius: 5px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--light-theme-button);
  color: var(--light-theme-button-text);
}

.btn span {
  font-weight: bold;
}

.btn:hover {
  background-color: var(--light-theme-button-hover);
}

.btn-checked {
  cursor: pointer;
  justify-content: space-between;
}

.ignore-button {
  cursor: pointer;
  pointer-events: none;
}

.close-button-container {
  position: relative;
  height: 20px;
  width: 20px;
}

.close-button {
  width: 20px;
  height: 20px;
  box-shadow: 0px 10 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #000;
  position: absolute;
  z-index: 200;
  text-indent: -9999px;
  margin-left: auto;
  flex-shrink: 0;
  cursor: pointer;
}
.close-button:before,
.close-button:after {
  content: "";
  width: 55%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 48%;
  left: 22%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.close-button:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.button-wrapper:hover .close-button:before,
.button-wrapper:hover .close-button:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.hide {
  display: none;
}

@media (prefers-color-scheme: ligth) {
  body {
    background-color: var(--light-theme);
    color: var(--light-theme-text);
  }
  /* .row-link:nth-child(2n + 1) {
    background: var(--light-theme-odds);
  } */
  .row-link:nth-child(2n + 1 of :not(.hide)) {
    background: var(--light-theme-odds);
  }
  .row-link:not(.hide):hover {
    background-color: var(--light-theme-hover);
  }
  .btn {
    background-color: var(--light-theme-button);
    color: var(--light-theme-button-text);
  }
  .btn:hover {
    background-color: var(--light-theme-button-hover);
  }
  .txt-box {
    scrollbar-color: var(--light-theme-scroll-color) var(--light-theme-scroll-background);
  }
  .txt-box::-webkit-scrollbar {
    background-color: var(--light-theme-scroll-background);
  }
  .txt-box ul {
    scrollbar-color: var(--light-theme-scroll-color) var(--light-theme-scroll-background);
  }
  .txt-box::-webkit-scrollbar-thumb {
    background: var(--light-theme-scroll-color);
  }
  .txt-box ul::-webkit-scrollbar {
    background-color: var(--light-theme-scroll-background)
  }
  .txt-box ul::-webkit-scrollbar-thumb {
    background: var(--light-theme-scroll-color);
  }
  .button-wrapper:hover,
  .button-wrapper:focus-within,
  .button-wrapper:focus-visible {
    background: var(--light-theme-btn-wrapper-hover);
  }
  .button-wrapper:active {
    background: var(--light-theme-btn-wrapper-active);
  }
  .search-box {
    color: var(--light-theme-text);
    background: var(--light-theme-scroll-background);
  }
  .search-box:focus-visible {
    outline-color: var(--light-theme-button-hover);
  }
  .row-link span:focus-visible {
    outline-color: var(--light-theme-button-hover);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-theme);
    color: var(--dark-theme-text);
  }
  /* .row-link:nth-child(2n + 1) {
    background: var(--dark-theme-odds);
  } */
  .row-link:nth-child(2n + 1 of :not(.hide)) {
    background: var(--dark-theme-odds);
  }
  .row-link:not(.hide):hover {
    background-color: var(--dark-theme-hover);
  }
  .btn {
    background-color: var(--dark-theme-button);
    color: var(--dark-theme-button-text);
  }
  .btn:hover {
    background-color: var(--dark-theme-button-hover);
  }
  .txt-box {
    scrollbar-color: var(--dark-theme-scroll-color) var(--dark-theme-scroll-background);
  }
  .txt-box::-webkit-scrollbar {
    background-color: var(--dark-theme-scroll-background);
  }
  .txt-box::-webkit-scrollbar-thumb {
    background: var(--dark-theme-scroll-color);
  }
  .txt-box ul {
    scrollbar-color: var(--dark-theme-scroll-color) var(--dark-theme-scroll-background);
  }
  .txt-box ul::-webkit-scrollbar {
    background-color: var(--dark-theme-scroll-background)
  }
  .txt-box ul::-webkit-scrollbar-thumb {
    background: var(--dark-theme-scroll-color);
  }
  .button-wrapper:hover,
  .button-wrapper:focus-within,
  .button-wrapper:focus-visible {
    background: var(--dark-theme-btn-wrapper-hover);
  }
  .button-wrapper:active {
    background: var(--dark-theme-btn-wrapper-active);
  }
  .search-box {
    color: var(--dark-theme-text);
    background: var(--dark-theme-scroll-background);
  }
  .search-box:focus-visible {
    outline-color: var(--dark-theme-button-hover);
  }
  .row-link span:focus-visible {
    outline-color: var(--dark-theme-button-hover);
  }
}
