:root {
  --dark-theme: hsl(225, 6%, 13%);
  --dark-theme-odds: hsl(225, 5%, 19%);
  --dark-theme-hover: hsl(225, 6%, 30%);
  --dark-theme-text: hsl(0, 5%, 90%);
  --dark-theme-button: hsl(174, 100%, 25%);
  --dark-theme-button-hover: hsl(174, 100%, 22%);
  --dark-theme-button-text: hsl(0, 5%, 90%);
  --dark-theme-scroll-background: hsl(0, 0%, 30%);
  --dark-theme-scroll-color: hsl(0, 0%, 0%);

  --light-theme: hsl(0, 0%, 100%);
  --light-theme-odds: hsl(208, 100%, 97%);
  --light-theme-hover: hsl(0, 0%, 94%);
  --light-theme-text: hsl(0, 0, 0%);
  --light-theme-button: hsl(210, 100%, 60%);
  --light-theme-button-hover: hsl(210, 100%, 45%);
  --light-theme-button-text: hsl(0, 0%, 100%);
  --light-theme-scroll-background: hsl(0, 0%, 90%);
  --light-theme-scroll-color: hsl(0, 0%, 60%);
}

body {
  margin: 0;
  color: var(--light-theme-text);
}

#main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 1rem;
}

.txt-box {
  width: 340px;
  min-height: 100px;
  max-width: 400px;
  max-height: 450px;
  overflow-y: scroll;
}

.txt-box::-webkit-scrollbar {
  width: 7px;
  height: 12px;
  background-color: var(--light-theme-scroll-background);
}

.txt-box::-webkit-scrollbar-thumb {
  background: var(--light-theme-scroll-color);
}

.txt-box ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.row-link {
  display: flex;
  position: relative;
  align-items: center;
}

.row-link span {
  overflow: hidden;
  padding: 5px 30px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: text;
  word-wrap: break-word;
  flex-grow: 1;
}

.row-link .tab-icon {
  letter-spacing: unset;
  word-spacing: unset;
  text-transform: unset;
  text-indent: unset;
  text-shadow: unset;
  display: unset;
  text-align: unset;
  align-items: unset;
  background-color: unset;
  box-sizing: unset;
  margin: unset;
  font: unset;
  padding: unset;
  border-width: unset;
  border-style: unset;
  border-color: unset;
  border-image: initial;
  background: unset;
  appearance: unset;
  -webkit-writing-mode: unset;
  -moz-writing-mode: unset;
  border-image: unset;
  color: unset;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;
  position: absolute;
  left: 5px;
}

.tab-icon:hover {
  opacity: .6;
}

.tab-icon:active {
  opacity: 1;
}

.row-link:nth-child(2n+1) {
  background: var(--light-theme-odds);
}

.row-link:hover {
  background-color: var(--light-theme-hover);
}

#btn-area {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 10px 0;
}

.btn {
  min-width: 60px;
  min-height: 30px;
  border-radius: 5px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--light-theme-button);
  color: var(--light-theme-button-text);
}

.btn span {
  font-weight: bold;
}

.btn:hover {
  background-color: var(--light-theme-button-hover);
}

.close-button {
  width: 20px;
  height: 20px;
  box-shadow: 0px 10 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #000;
  position: absolute;
  right: 5px;
  z-index: 200;
  text-indent: -9999px;
  margin-left: auto;
  flex-shrink: 0;
  cursor: pointer;
}
.close-button:before,
.close-button:after {
  content: "";
  width: 55%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 48%;
  left: 22%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.close-button:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.close-button:hover:before,
.close-button:hover:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media (prefers-color-scheme: ligth) {
  body {
    background-color: var(--light-theme);
    color: var(--light-theme-text);
  }
  .row-link:nth-child(2n+1) {
    background: var(--light-theme-odds);
  }
  .row-link:hover {
    background-color: var(--light-theme-hover);
  }
  .btn {
    background-color: var(--light-theme-button);
    color: var(--light-theme-button-text);
  }
  .btn:hover {
    background-color: var(--light-theme-button-hover);
  }
  .txt-box::-webkit-scrollbar {
    background-color: var(--light-theme-scroll-background);
  }
  .txt-box::-webkit-scrollbar-thumb {
    background: var(--light-theme-scroll-color);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-theme);
    color: var(--dark-theme-text);
  }
  .row-link:nth-child(2n+1) {
    background: var(--dark-theme-odds);
  }
  .row-link:hover {
    background-color: var(--dark-theme-hover);
  }
  .btn {
    background-color: var(--dark-theme-button);
    color: var(--dark-theme-button-text);
  }
  .btn:hover {
    background-color: var(--dark-theme-button-hover);
  }
  .txt-box::-webkit-scrollbar {
    background-color: var(--dark-theme-scroll-background);
  }
  .txt-box::-webkit-scrollbar-thumb {
    background: var(--dark-theme-scroll-color);
  }
}
